body {
  font-family: var(--font-family);
  background-color: var(--body-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
  color: var(--font-title-color);
}

p {
  font-weight: 400;
  color: var(--font-text-color);
}
