.grid-2-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-self: center;
  gap: 50px;
}

.learn__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  align-items: stretch;
}
