.grid-2-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-self: center;
  gap: 50px;
}

.learn__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  align-items: stretch;
}
/* grid quizz menu */
.quiz-menu__options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  justify-content: center;
  gap: 50px;
  place-self: center;
}
/* grid quizz jogos */
.quiz-game__answers {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-sm);
}
