.grid-2-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-self: center;
  gap: 50px;
}
