.features__text-content {
  padding: 0 var(--spacing-md);
}

.features__title {
  padding: var(--spacing-sm) 0;
  font-size: var(--font-size-h2);
  color: var(--color-primary);
}

.features__description {
  padding: var(--spacing-xs) 0;
  font-size: var(--font-size-lg);
  max-width: 60ch;
  color: var(--color-secondary);
}
