.header {
  background-color: var(--header-bg-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header__container {
  padding: 20px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-list {
  display: flex;
  gap: 50px;
}
.header__nav-item a {
  padding: 10px;
}

.header__nav-item a:hover {
  color: var(--primary-color);
}
