.header {
  background-color: var(--white-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: background-color 0.5s ease, backdrop-filter 0.5s ease,
    color 0.5s ease; /* efeito de transição para scrolled*/
}

.header__container {
  padding: 20px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-list {
  display: flex;
  gap: 50px;
}
.header__nav-item a {
  padding: 10px;
}

.header__nav-item a:hover {
  color: var(--primary-color);
}

/* classe para javascript */
.header-blur {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--header-blur-bg-color);
  backdrop-filter: blur(10px);
  color: var(--white-color);
  z-index: 3;
}
