.quizz {
  padding: 50px 0px;
  background-color: #012d5c;
  display: flex;
  flex-direction: column;
  place-items: center;
}
.quizz__title {
  font-size: 50px;
  padding: 15px 0px;
  color: #fbfbfb;
}
.quizz__description {
  font-size: 20px;
  color: #9ab4d4;
  padding: 10px 0px;
  padding-bottom: 30px;
}
