.button {
  padding: 12px 24px;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  box-shadow: 4px 4px 10px 0px var(--shadow-color);
  -webkit-box-shadow: 4px 4px 10px 0px var(--shadow-color);
  -moz-box-shadow: 4px 4px 10px 0px var(--shadow-color);
}

.button:hover {
  background-color: var(--primary-color-hover);
}
