.button {
  display: inline-block;
  padding: var(--spacing-xs) var(--spacing-md);
  border-radius: var(--border-radius-md);
  font-weight: 600;
  border: 2px solid transparent;
  cursor: pointer;
  transition: var(--transition-main);
  box-shadow: var(--box-shadow-main);
  text-align: center;
}

/* Botão Primário (fundo escuro, texto claro) */
.button--primary {
  background-color: var(--color-button);
  color: var(--color-white);
}

.button--primary:hover {
  background-color: var(--color-button-hover);
}

/* Botão Secundário (fundo claro, texto escuro) */
.button--secondary {
  background-color: var(--color-button);
  color: var(--color-white);
}

.button--secondary:hover {
  background-color: var(--color-button-hover);
}
