/* Estilo para o elemento dialog */
dialog.modal {
  margin: 0 auto;
  border: none;
  padding: 0;
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Fundo (backdrop) quando o modal está aberto */
dialog.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

/* Modal Content Box */
.modal__content {
  background-color: var(--white-color);
  padding: 30px;
  border-radius: 8px;
  width: 100%; /* Ocupa todo o espaço do dialog */
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}

/* Modal Header */
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.modal__title {
  font-size: 28px;
  color: var(--font-title-color);
}

.modal__close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--font-text-color);
}

/* Modal Body */
.modal__body p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.modal__body img {
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

/* For clickable cards */
[data-modal-trigger] {
  cursor: pointer;
}
